In [1]:
import pandas as pd
import numpy as np

In [ ]:
# modeling user conversion at 3%. 
np.random.binomial(1,0.03, size=10000).mean()

np.float64(0.0303)

According to the law of large numbers, the larger the sample size, the closer the sample conversion rate will be to the actual conversion rate.

In [ ]:
# modeling user conversion at a group 3% and b group 5%
a = np.random.binomial(1,0.03,size=1000).mean()
b = np.random.binomial(1,0.05,size=1000).mean()
a,b

(np.float64(0.024), np.float64(0.061))

In [8]:
# modeling user conversion at a group 3% and b group 5% for 1000 times
n=1000
result = []
for i in range(n):
    a = np.random.binomial(1,0.03,size=1000).mean()
    b = np.random.binomial(1,0.05,size=1000).mean()
    result.append((a,b))
df = pd.DataFrame(result, columns=['a','b'])
df.head()

       a      b
0  0.027  0.054
1  0.027  0.053
2  0.033  0.067
3  0.025  0.058
4  0.032  0.035

In [ ]:
# find cases where conversion rate of a group is higher than b group
df[df['a']>df['b']]

         a      b
26   0.046  0.040
169  0.033  0.032
170  0.036  0.031
364  0.040  0.039
449  0.044  0.043
543  0.031  0.030
594  0.041  0.040
692  0.042  0.041
734  0.041  0.037
902  0.044  0.040
947  0.034  0.031
986  0.042  0.039