In [46]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

In [2]:
np.random.binomial(10,0.5)

2

In [3]:
n = 10000
result = []
for i in range(n):
    np.random.seed(i)
    result.append(np.random.binomial(10,0.5))

In [4]:
df = pd.DataFrame(result)

In [5]:
df

      0
0     5
1     5
2     5
3     5
4     8
...  ..
9995  5
9996  6
9997  2
9998  4
9999  6

[10000 rows x 1 columns]

In [7]:
df['dev'] = abs(df[0] - 5)

In [8]:
df

      0  dev
0     5    0
1     5    0
2     5    0
3     5    0
4     8    3
...  ..  ...
9995  5    0
9996  6    1
9997  2    3
9998  4    1
9999  6    1

[10000 rows x 2 columns]

In [9]:
(df['dev'] >= 2).mean()

np.float64(0.3515)

# p-value scale

In [10]:
devs = [0,1,2,3,4,5]

In [12]:
result = []
for dev in devs:
    result.append((dev, (df['dev'] >= dev).mean()))

In [13]:
pvals = pd.DataFrame(result, columns=[['heads', 'p_value']])

In [14]:
pvals

  heads p_value
0     0  1.0000
1     1  0.7573
2     2  0.3515
3     3  0.1124
4     4  0.0229
5     5  0.0009

# Satisfaction case

In [34]:
np.random.binomial(115,0.8)

95

In [35]:
n = 10000
result = []
for i in range(n):
    np.random.seed(i)
    result.append(np.random.binomial(115,0.8))

In [36]:
df = pd.DataFrame(result)

In [37]:
df['dev'] = df[0] - 0.8 * 115

In [39]:
(df['dev'] <= -8).mean()

np.float64(0.0437)

# p-value scale satisfaction

In [40]:
devs = []
for i in range(0, int(0.8 * 115)+1):
    devs.append(i)

In [41]:
result = []
for dev in devs:
    result.append((dev, (df['dev'] <= -dev).mean()))

In [44]:
pvals = pd.DataFrame(result, columns=[['people', 'p_value']])

In [45]:
pvals.head(20)

   people p_value
0       0  0.5348
1       1  0.4498
2       2  0.3632
3       3  0.2777
4       4  0.2067
5       5  0.1464
6       6  0.1013
7       7  0.0685
8       8  0.0437
9       9  0.0277
10     10  0.0169
11     11  0.0099
12     12  0.0053
13     13  0.0030
14     14  0.0014
15     15  0.0004
16     16  0.0002
17     17  0.0000
18     18  0.0000
19     19  0.0000

# P-value with statistical test

In [58]:
proportions_ztest(84, 115, 0.8, alternative='smaller')[1]

np.float64(0.046362399106540116)

In [60]:
pvals['pval_ztest'] = pvals[('people',)].apply(lambda x: proportions_ztest(92-x, 115, 0.8, alternative='smaller')[1])

c:\Users\vladi\Gleb Michailov\AB test\venv\Lib\site-packages\statsmodels\stats\weightstats.py:792: RuntimeWarning: divide by zero encountered in scalar divide
  zstat = value / std

In [64]:
pvals.head(20)

   people p_value pval_ztest
0       0  0.5348   0.500000
1       1  0.4498   0.409252
2       2  0.3632   0.325579
3       3  0.2777   0.251815
4       4  0.2067   0.189428
5       5  0.1464   0.138656
6       6  0.1013   0.098803
7       7  0.0685   0.068568
8       8  0.0437   0.046362
9       9  0.0277   0.030552
10     10  0.0169   0.019627
11     11  0.0099   0.012294
12     12  0.0053   0.007509
13     13  0.0030   0.004473
14     14  0.0014   0.002598
15     15  0.0004   0.001471
16     16  0.0002   0.000812
17     17  0.0000   0.000437
18     18  0.0000   0.000229
19     19  0.0000   0.000117